* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #436465;
  box-sizing: border-box;
  font-size: 25px;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right, #deb8b1, #ebded5);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#geography-btn,
#science-btn,
#history-btn {
  height: 600px;
  width: 400px;

  border: solid;
  border-width: 10px;
  border-color: #A9CDDA;
  border-radius: 25px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 20px;

  color: #436465;
  font-size: 1.5rem;
  font-weight: bolder;

  transition-duration: 100ms;
}

#geography-btn:hover,
#science-btn:hover,
#history-btn:hover {
  font-size: 2.2rem;

  border-color: #8FC5C7;
  box-shadow: 0 10px 10px 0 gray;
}

#geography-btn {
  background-image: url(/image/eifeltower_generated.jpg);
}

#science-btn {
  background-image: url(/image/science-img.PNG);
}

#history-btn {
  background-image: url(/image/history-img.jpeg);
}

#quizUI,
#scoreCard {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: solid;
  border-width: 9px;
  border-color: #A9CDDA;
  border-radius: 25px;

  box-shadow: 0 10px 10px 0 gray;

  height: auto;
  width: 1000px;
  background-color: #F7F2EE;
  padding: 30px;
  margin: 20px auto;
}

#option1,
#option2,
#option3,
#option4 {
  height: 80px;
  width: 10em;
  margin: 8px;
  border: solid;
  border-radius: 10px;
  border-color: #A9CDDA;
  background-color: #F7F2EE;
  transition-duration: 100ms;
}

#option1:hover,
#option2:hover,
#option3:hover,
#option4:hover {
  box-shadow: 0 2px 2px 0 gray;
  border-color: #8FC5C7;
}

#submitAnswer {
  height: 80px;
  width: 21em;
  margin: 10px;
  border: solid 3px;
  border-radius: 10px;
  border-color: #8FC5C7;
  background-color: #8FC5C7;
  transition-duration: 100ms;
}

#submitAnswer:hover {
  box-shadow: 0 5px 10px 0 gray;
  transform: translateY(-3px);
}

#resetButton1,
#resetButton2 {
  border: none;
  height: 80px;
  width: 80%;
  background-color: #F7F2EE;
  transition: all 0, 2s ease-in-out;
}

#resetButton1:hover,
#resetButton2:hover {
  color: #8FC5C7;
  font-size: 1.1rem;
  transition-duration: 100ms;
}
